body {
	background: #f1f1f1;
}


/*::::::::::::::::::::::::::::::::::::
#billing
::::::::::::::::::::::::::::::::::::*/

/*billing info*/
.payment__bank-transfer-details p,
.payment__debit-credit-card-details{
	background: #f1f1f1;
}

.payment__place-order .btn {
	background: var(--my-primary-color);
	font-size: 1.1em;
	font-weight: bold;
}

.payment__place-order .btn:hover {
	background: var(--my-primary-color-09);
}

/*payment*/

.payment__bank-transfer-toggle .toggle,
.payment__debit-credit-card-toggle .toggle {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 5px solid rgba(0, 0, 255,0.8);
	border-radius: 50%;
}

.payment__bank-transfer-toggle .toggle.active,
.payment__debit-credit-card-toggle .toggle.active{
	outline: 3px solid rgba(0, 0, 255,0.3);
}


