* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*General styling*/
:root {
  --my-primary-color: #FFA500;
  --my-primary-color-09: rgba(255, 165, 0, 0.6);

  --my-base-color: #232F3E;
}

body {

}

.section {
	margin-top: 100px;
}

/*HEADER*/
/*:::::::::::::::::::::::::::::::::::::::
#nav-bar section
::::::::::::::::::::::::::::::::::::::::*/
#nav-bar {
	/*background: #FFA500;*/
	background: var(--my-base-color);
}

.navbar-collapse form {
	width: 100%;
}

.navbar-collapse form input {
	width: 80% !important;
	font-size: small;
}

.navbar-collapse form button{
	color: var(--my-primary-color);
	border: 1px solid var(--my-primary-color) !important;
}

.navbar-collapse form button:hover {
		color: white;
	background: var(--my-primary-color);
}

/*Search box (mobile view only)*/
.nav-bar .search-box-mobile button {
	color: white !important;
	background: var(--my-primary-color) !important;

}





/*MAIN*/
/*:::::::::::::::::::::::::::::::::::::::
#hero section
::::::::::::::::::::::::::::::::::::::::*/
@media (min-width:  768px) {
	.hero .carousel .carousel-inner{
		height: 500px !important;
	}
}





/*:::::::::::::::::::::::::::::::::::::::
#products section
::::::::::::::::::::::::::::::::::::::::*/
/*.products .card button {
	background: var(--my-primary-color);
}

.products .card button:hover {
	background: var(--my-primary-color-09);
}*/

.products .card button {
	color: var(--my-primary-color);
	color: black;
	border:  1px solid var(--my-primary-color);
}

.products .card button:hover {
	background: var(--my-primary-color);
	color: black;
}

.products__btn_cont button:hover {
	color: var(--my-primary-color);
	background: transparent !important;
}






